.fruitvar-initial-x-pc_10 {
	--fruit-initial-x-pc: 10;
}
.fruitvar-initial-x-pc_11 {
	--fruit-initial-x-pc: 11;
}
.fruitvar-initial-x-pc_12 {
	--fruit-initial-x-pc: 12;
}
.fruitvar-initial-x-pc_13 {
	--fruit-initial-x-pc: 13;
}
.fruitvar-initial-x-pc_14 {
	--fruit-initial-x-pc: 14;
}
.fruitvar-initial-x-pc_15 {
	--fruit-initial-x-pc: 15;
}
.fruitvar-initial-x-pc_16 {
	--fruit-initial-x-pc: 16;
}
.fruitvar-initial-x-pc_17 {
	--fruit-initial-x-pc: 17;
}
.fruitvar-initial-x-pc_18 {
	--fruit-initial-x-pc: 18;
}
.fruitvar-initial-x-pc_19 {
	--fruit-initial-x-pc: 19;
}
.fruitvar-initial-x-pc_20 {
	--fruit-initial-x-pc: 20;
}
.fruitvar-initial-x-pc_21 {
	--fruit-initial-x-pc: 21;
}
.fruitvar-initial-x-pc_22 {
	--fruit-initial-x-pc: 22;
}
.fruitvar-initial-x-pc_23 {
	--fruit-initial-x-pc: 23;
}
.fruitvar-initial-x-pc_24 {
	--fruit-initial-x-pc: 24;
}
.fruitvar-initial-x-pc_25 {
	--fruit-initial-x-pc: 25;
}
.fruitvar-initial-x-pc_26 {
	--fruit-initial-x-pc: 26;
}
.fruitvar-initial-x-pc_27 {
	--fruit-initial-x-pc: 27;
}
.fruitvar-initial-x-pc_28 {
	--fruit-initial-x-pc: 28;
}
.fruitvar-initial-x-pc_29 {
	--fruit-initial-x-pc: 29;
}
.fruitvar-initial-x-pc_30 {
	--fruit-initial-x-pc: 30;
}
.fruitvar-initial-x-pc_31 {
	--fruit-initial-x-pc: 31;
}
.fruitvar-initial-x-pc_32 {
	--fruit-initial-x-pc: 32;
}
.fruitvar-initial-x-pc_33 {
	--fruit-initial-x-pc: 33;
}
.fruitvar-initial-x-pc_34 {
	--fruit-initial-x-pc: 34;
}
.fruitvar-initial-x-pc_35 {
	--fruit-initial-x-pc: 35;
}
.fruitvar-initial-x-pc_36 {
	--fruit-initial-x-pc: 36;
}
.fruitvar-initial-x-pc_37 {
	--fruit-initial-x-pc: 37;
}
.fruitvar-initial-x-pc_38 {
	--fruit-initial-x-pc: 38;
}
.fruitvar-initial-x-pc_39 {
	--fruit-initial-x-pc: 39;
}
.fruitvar-initial-x-pc_40 {
	--fruit-initial-x-pc: 40;
}
.fruitvar-initial-x-pc_41 {
	--fruit-initial-x-pc: 41;
}
.fruitvar-initial-x-pc_42 {
	--fruit-initial-x-pc: 42;
}
.fruitvar-initial-x-pc_43 {
	--fruit-initial-x-pc: 43;
}
.fruitvar-initial-x-pc_44 {
	--fruit-initial-x-pc: 44;
}
.fruitvar-initial-x-pc_45 {
	--fruit-initial-x-pc: 45;
}
.fruitvar-initial-x-pc_46 {
	--fruit-initial-x-pc: 46;
}
.fruitvar-initial-x-pc_47 {
	--fruit-initial-x-pc: 47;
}
.fruitvar-initial-x-pc_48 {
	--fruit-initial-x-pc: 48;
}
.fruitvar-initial-x-pc_49 {
	--fruit-initial-x-pc: 49;
}
.fruitvar-initial-x-pc_50 {
	--fruit-initial-x-pc: 50;
}
.fruitvar-initial-x-pc_51 {
	--fruit-initial-x-pc: 51;
}
.fruitvar-initial-x-pc_52 {
	--fruit-initial-x-pc: 52;
}
.fruitvar-initial-x-pc_53 {
	--fruit-initial-x-pc: 53;
}
.fruitvar-initial-x-pc_54 {
	--fruit-initial-x-pc: 54;
}
.fruitvar-initial-x-pc_55 {
	--fruit-initial-x-pc: 55;
}
.fruitvar-initial-x-pc_56 {
	--fruit-initial-x-pc: 56;
}
.fruitvar-initial-x-pc_57 {
	--fruit-initial-x-pc: 57;
}
.fruitvar-initial-x-pc_58 {
	--fruit-initial-x-pc: 58;
}
.fruitvar-initial-x-pc_59 {
	--fruit-initial-x-pc: 59;
}
.fruitvar-initial-x-pc_60 {
	--fruit-initial-x-pc: 60;
}
.fruitvar-initial-x-pc_61 {
	--fruit-initial-x-pc: 61;
}
.fruitvar-initial-x-pc_62 {
	--fruit-initial-x-pc: 62;
}
.fruitvar-initial-x-pc_63 {
	--fruit-initial-x-pc: 63;
}
.fruitvar-initial-x-pc_64 {
	--fruit-initial-x-pc: 64;
}
.fruitvar-initial-x-pc_65 {
	--fruit-initial-x-pc: 65;
}
.fruitvar-initial-x-pc_66 {
	--fruit-initial-x-pc: 66;
}
.fruitvar-initial-x-pc_67 {
	--fruit-initial-x-pc: 67;
}
.fruitvar-initial-x-pc_68 {
	--fruit-initial-x-pc: 68;
}
.fruitvar-initial-x-pc_69 {
	--fruit-initial-x-pc: 69;
}
.fruitvar-initial-x-pc_70 {
	--fruit-initial-x-pc: 70;
}
.fruitvar-initial-x-pc_71 {
	--fruit-initial-x-pc: 71;
}
.fruitvar-initial-x-pc_72 {
	--fruit-initial-x-pc: 72;
}
.fruitvar-initial-x-pc_73 {
	--fruit-initial-x-pc: 73;
}
.fruitvar-initial-x-pc_74 {
	--fruit-initial-x-pc: 74;
}
.fruitvar-initial-x-pc_75 {
	--fruit-initial-x-pc: 75;
}
.fruitvar-initial-x-pc_76 {
	--fruit-initial-x-pc: 76;
}
.fruitvar-initial-x-pc_77 {
	--fruit-initial-x-pc: 77;
}
.fruitvar-initial-x-pc_78 {
	--fruit-initial-x-pc: 78;
}
.fruitvar-initial-x-pc_79 {
	--fruit-initial-x-pc: 79;
}
.fruitvar-initial-x-pc_80 {
	--fruit-initial-x-pc: 80;
}
.fruitvar-initial-x-pc_81 {
	--fruit-initial-x-pc: 81;
}
.fruitvar-initial-x-pc_82 {
	--fruit-initial-x-pc: 82;
}
.fruitvar-initial-x-pc_83 {
	--fruit-initial-x-pc: 83;
}
.fruitvar-initial-x-pc_84 {
	--fruit-initial-x-pc: 84;
}
.fruitvar-initial-x-pc_85 {
	--fruit-initial-x-pc: 85;
}
.fruitvar-initial-x-pc_86 {
	--fruit-initial-x-pc: 86;
}
.fruitvar-initial-x-pc_87 {
	--fruit-initial-x-pc: 87;
}
.fruitvar-initial-x-pc_88 {
	--fruit-initial-x-pc: 88;
}
.fruitvar-initial-x-pc_89 {
	--fruit-initial-x-pc: 89;
}
.fruitvar-initial-x-pc_90 {
	--fruit-initial-x-pc: 90;
}
.fruitvar-initial-y-pc_100 {
	--fruit-initial-y-pc: 100;
}
.fruitvar-initial-x-velocity-pc_-100 {
	--fruit-initial-x-velocity-pc: -100;
}
.fruitvar-initial-x-velocity-pc_-99 {
	--fruit-initial-x-velocity-pc: -99;
}
.fruitvar-initial-x-velocity-pc_-98 {
	--fruit-initial-x-velocity-pc: -98;
}
.fruitvar-initial-x-velocity-pc_-97 {
	--fruit-initial-x-velocity-pc: -97;
}
.fruitvar-initial-x-velocity-pc_-96 {
	--fruit-initial-x-velocity-pc: -96;
}
.fruitvar-initial-x-velocity-pc_-95 {
	--fruit-initial-x-velocity-pc: -95;
}
.fruitvar-initial-x-velocity-pc_-94 {
	--fruit-initial-x-velocity-pc: -94;
}
.fruitvar-initial-x-velocity-pc_-93 {
	--fruit-initial-x-velocity-pc: -93;
}
.fruitvar-initial-x-velocity-pc_-92 {
	--fruit-initial-x-velocity-pc: -92;
}
.fruitvar-initial-x-velocity-pc_-91 {
	--fruit-initial-x-velocity-pc: -91;
}
.fruitvar-initial-x-velocity-pc_-90 {
	--fruit-initial-x-velocity-pc: -90;
}
.fruitvar-initial-x-velocity-pc_-89 {
	--fruit-initial-x-velocity-pc: -89;
}
.fruitvar-initial-x-velocity-pc_-88 {
	--fruit-initial-x-velocity-pc: -88;
}
.fruitvar-initial-x-velocity-pc_-87 {
	--fruit-initial-x-velocity-pc: -87;
}
.fruitvar-initial-x-velocity-pc_-86 {
	--fruit-initial-x-velocity-pc: -86;
}
.fruitvar-initial-x-velocity-pc_-85 {
	--fruit-initial-x-velocity-pc: -85;
}
.fruitvar-initial-x-velocity-pc_-84 {
	--fruit-initial-x-velocity-pc: -84;
}
.fruitvar-initial-x-velocity-pc_-83 {
	--fruit-initial-x-velocity-pc: -83;
}
.fruitvar-initial-x-velocity-pc_-82 {
	--fruit-initial-x-velocity-pc: -82;
}
.fruitvar-initial-x-velocity-pc_-81 {
	--fruit-initial-x-velocity-pc: -81;
}
.fruitvar-initial-x-velocity-pc_-80 {
	--fruit-initial-x-velocity-pc: -80;
}
.fruitvar-initial-x-velocity-pc_-79 {
	--fruit-initial-x-velocity-pc: -79;
}
.fruitvar-initial-x-velocity-pc_-78 {
	--fruit-initial-x-velocity-pc: -78;
}
.fruitvar-initial-x-velocity-pc_-77 {
	--fruit-initial-x-velocity-pc: -77;
}
.fruitvar-initial-x-velocity-pc_-76 {
	--fruit-initial-x-velocity-pc: -76;
}
.fruitvar-initial-x-velocity-pc_-75 {
	--fruit-initial-x-velocity-pc: -75;
}
.fruitvar-initial-x-velocity-pc_-74 {
	--fruit-initial-x-velocity-pc: -74;
}
.fruitvar-initial-x-velocity-pc_-73 {
	--fruit-initial-x-velocity-pc: -73;
}
.fruitvar-initial-x-velocity-pc_-72 {
	--fruit-initial-x-velocity-pc: -72;
}
.fruitvar-initial-x-velocity-pc_-71 {
	--fruit-initial-x-velocity-pc: -71;
}
.fruitvar-initial-x-velocity-pc_-70 {
	--fruit-initial-x-velocity-pc: -70;
}
.fruitvar-initial-x-velocity-pc_-69 {
	--fruit-initial-x-velocity-pc: -69;
}
.fruitvar-initial-x-velocity-pc_-68 {
	--fruit-initial-x-velocity-pc: -68;
}
.fruitvar-initial-x-velocity-pc_-67 {
	--fruit-initial-x-velocity-pc: -67;
}
.fruitvar-initial-x-velocity-pc_-66 {
	--fruit-initial-x-velocity-pc: -66;
}
.fruitvar-initial-x-velocity-pc_-65 {
	--fruit-initial-x-velocity-pc: -65;
}
.fruitvar-initial-x-velocity-pc_-64 {
	--fruit-initial-x-velocity-pc: -64;
}
.fruitvar-initial-x-velocity-pc_-63 {
	--fruit-initial-x-velocity-pc: -63;
}
.fruitvar-initial-x-velocity-pc_-62 {
	--fruit-initial-x-velocity-pc: -62;
}
.fruitvar-initial-x-velocity-pc_-61 {
	--fruit-initial-x-velocity-pc: -61;
}
.fruitvar-initial-x-velocity-pc_-60 {
	--fruit-initial-x-velocity-pc: -60;
}
.fruitvar-initial-x-velocity-pc_-59 {
	--fruit-initial-x-velocity-pc: -59;
}
.fruitvar-initial-x-velocity-pc_-58 {
	--fruit-initial-x-velocity-pc: -58;
}
.fruitvar-initial-x-velocity-pc_-57 {
	--fruit-initial-x-velocity-pc: -57;
}
.fruitvar-initial-x-velocity-pc_-56 {
	--fruit-initial-x-velocity-pc: -56;
}
.fruitvar-initial-x-velocity-pc_-55 {
	--fruit-initial-x-velocity-pc: -55;
}
.fruitvar-initial-x-velocity-pc_-54 {
	--fruit-initial-x-velocity-pc: -54;
}
.fruitvar-initial-x-velocity-pc_-53 {
	--fruit-initial-x-velocity-pc: -53;
}
.fruitvar-initial-x-velocity-pc_-52 {
	--fruit-initial-x-velocity-pc: -52;
}
.fruitvar-initial-x-velocity-pc_-51 {
	--fruit-initial-x-velocity-pc: -51;
}
.fruitvar-initial-x-velocity-pc_-50 {
	--fruit-initial-x-velocity-pc: -50;
}
.fruitvar-initial-x-velocity-pc_-49 {
	--fruit-initial-x-velocity-pc: -49;
}
.fruitvar-initial-x-velocity-pc_-48 {
	--fruit-initial-x-velocity-pc: -48;
}
.fruitvar-initial-x-velocity-pc_-47 {
	--fruit-initial-x-velocity-pc: -47;
}
.fruitvar-initial-x-velocity-pc_-46 {
	--fruit-initial-x-velocity-pc: -46;
}
.fruitvar-initial-x-velocity-pc_-45 {
	--fruit-initial-x-velocity-pc: -45;
}
.fruitvar-initial-x-velocity-pc_-44 {
	--fruit-initial-x-velocity-pc: -44;
}
.fruitvar-initial-x-velocity-pc_-43 {
	--fruit-initial-x-velocity-pc: -43;
}
.fruitvar-initial-x-velocity-pc_-42 {
	--fruit-initial-x-velocity-pc: -42;
}
.fruitvar-initial-x-velocity-pc_-41 {
	--fruit-initial-x-velocity-pc: -41;
}
.fruitvar-initial-x-velocity-pc_-40 {
	--fruit-initial-x-velocity-pc: -40;
}
.fruitvar-initial-x-velocity-pc_-39 {
	--fruit-initial-x-velocity-pc: -39;
}
.fruitvar-initial-x-velocity-pc_-38 {
	--fruit-initial-x-velocity-pc: -38;
}
.fruitvar-initial-x-velocity-pc_-37 {
	--fruit-initial-x-velocity-pc: -37;
}
.fruitvar-initial-x-velocity-pc_-36 {
	--fruit-initial-x-velocity-pc: -36;
}
.fruitvar-initial-x-velocity-pc_-35 {
	--fruit-initial-x-velocity-pc: -35;
}
.fruitvar-initial-x-velocity-pc_-34 {
	--fruit-initial-x-velocity-pc: -34;
}
.fruitvar-initial-x-velocity-pc_-33 {
	--fruit-initial-x-velocity-pc: -33;
}
.fruitvar-initial-x-velocity-pc_-32 {
	--fruit-initial-x-velocity-pc: -32;
}
.fruitvar-initial-x-velocity-pc_-31 {
	--fruit-initial-x-velocity-pc: -31;
}
.fruitvar-initial-x-velocity-pc_-30 {
	--fruit-initial-x-velocity-pc: -30;
}
.fruitvar-initial-x-velocity-pc_-29 {
	--fruit-initial-x-velocity-pc: -29;
}
.fruitvar-initial-x-velocity-pc_-28 {
	--fruit-initial-x-velocity-pc: -28;
}
.fruitvar-initial-x-velocity-pc_-27 {
	--fruit-initial-x-velocity-pc: -27;
}
.fruitvar-initial-x-velocity-pc_-26 {
	--fruit-initial-x-velocity-pc: -26;
}
.fruitvar-initial-x-velocity-pc_-25 {
	--fruit-initial-x-velocity-pc: -25;
}
.fruitvar-initial-x-velocity-pc_-24 {
	--fruit-initial-x-velocity-pc: -24;
}
.fruitvar-initial-x-velocity-pc_-23 {
	--fruit-initial-x-velocity-pc: -23;
}
.fruitvar-initial-x-velocity-pc_-22 {
	--fruit-initial-x-velocity-pc: -22;
}
.fruitvar-initial-x-velocity-pc_-21 {
	--fruit-initial-x-velocity-pc: -21;
}
.fruitvar-initial-x-velocity-pc_-20 {
	--fruit-initial-x-velocity-pc: -20;
}
.fruitvar-initial-x-velocity-pc_-19 {
	--fruit-initial-x-velocity-pc: -19;
}
.fruitvar-initial-x-velocity-pc_-18 {
	--fruit-initial-x-velocity-pc: -18;
}
.fruitvar-initial-x-velocity-pc_-17 {
	--fruit-initial-x-velocity-pc: -17;
}
.fruitvar-initial-x-velocity-pc_-16 {
	--fruit-initial-x-velocity-pc: -16;
}
.fruitvar-initial-x-velocity-pc_-15 {
	--fruit-initial-x-velocity-pc: -15;
}
.fruitvar-initial-x-velocity-pc_-14 {
	--fruit-initial-x-velocity-pc: -14;
}
.fruitvar-initial-x-velocity-pc_-13 {
	--fruit-initial-x-velocity-pc: -13;
}
.fruitvar-initial-x-velocity-pc_-12 {
	--fruit-initial-x-velocity-pc: -12;
}
.fruitvar-initial-x-velocity-pc_-11 {
	--fruit-initial-x-velocity-pc: -11;
}
.fruitvar-initial-x-velocity-pc_-10 {
	--fruit-initial-x-velocity-pc: -10;
}
.fruitvar-initial-x-velocity-pc_-9 {
	--fruit-initial-x-velocity-pc: -9;
}
.fruitvar-initial-x-velocity-pc_-8 {
	--fruit-initial-x-velocity-pc: -8;
}
.fruitvar-initial-x-velocity-pc_-7 {
	--fruit-initial-x-velocity-pc: -7;
}
.fruitvar-initial-x-velocity-pc_-6 {
	--fruit-initial-x-velocity-pc: -6;
}
.fruitvar-initial-x-velocity-pc_-5 {
	--fruit-initial-x-velocity-pc: -5;
}
.fruitvar-initial-x-velocity-pc_-4 {
	--fruit-initial-x-velocity-pc: -4;
}
.fruitvar-initial-x-velocity-pc_-3 {
	--fruit-initial-x-velocity-pc: -3;
}
.fruitvar-initial-x-velocity-pc_-2 {
	--fruit-initial-x-velocity-pc: -2;
}
.fruitvar-initial-x-velocity-pc_-1 {
	--fruit-initial-x-velocity-pc: -1;
}
.fruitvar-initial-x-velocity-pc_0 {
	--fruit-initial-x-velocity-pc: 0;
}
.fruitvar-initial-x-velocity-pc_1 {
	--fruit-initial-x-velocity-pc: 1;
}
.fruitvar-initial-x-velocity-pc_2 {
	--fruit-initial-x-velocity-pc: 2;
}
.fruitvar-initial-x-velocity-pc_3 {
	--fruit-initial-x-velocity-pc: 3;
}
.fruitvar-initial-x-velocity-pc_4 {
	--fruit-initial-x-velocity-pc: 4;
}
.fruitvar-initial-x-velocity-pc_5 {
	--fruit-initial-x-velocity-pc: 5;
}
.fruitvar-initial-x-velocity-pc_6 {
	--fruit-initial-x-velocity-pc: 6;
}
.fruitvar-initial-x-velocity-pc_7 {
	--fruit-initial-x-velocity-pc: 7;
}
.fruitvar-initial-x-velocity-pc_8 {
	--fruit-initial-x-velocity-pc: 8;
}
.fruitvar-initial-x-velocity-pc_9 {
	--fruit-initial-x-velocity-pc: 9;
}
.fruitvar-initial-x-velocity-pc_10 {
	--fruit-initial-x-velocity-pc: 10;
}
.fruitvar-initial-x-velocity-pc_11 {
	--fruit-initial-x-velocity-pc: 11;
}
.fruitvar-initial-x-velocity-pc_12 {
	--fruit-initial-x-velocity-pc: 12;
}
.fruitvar-initial-x-velocity-pc_13 {
	--fruit-initial-x-velocity-pc: 13;
}
.fruitvar-initial-x-velocity-pc_14 {
	--fruit-initial-x-velocity-pc: 14;
}
.fruitvar-initial-x-velocity-pc_15 {
	--fruit-initial-x-velocity-pc: 15;
}
.fruitvar-initial-x-velocity-pc_16 {
	--fruit-initial-x-velocity-pc: 16;
}
.fruitvar-initial-x-velocity-pc_17 {
	--fruit-initial-x-velocity-pc: 17;
}
.fruitvar-initial-x-velocity-pc_18 {
	--fruit-initial-x-velocity-pc: 18;
}
.fruitvar-initial-x-velocity-pc_19 {
	--fruit-initial-x-velocity-pc: 19;
}
.fruitvar-initial-x-velocity-pc_20 {
	--fruit-initial-x-velocity-pc: 20;
}
.fruitvar-initial-x-velocity-pc_21 {
	--fruit-initial-x-velocity-pc: 21;
}
.fruitvar-initial-x-velocity-pc_22 {
	--fruit-initial-x-velocity-pc: 22;
}
.fruitvar-initial-x-velocity-pc_23 {
	--fruit-initial-x-velocity-pc: 23;
}
.fruitvar-initial-x-velocity-pc_24 {
	--fruit-initial-x-velocity-pc: 24;
}
.fruitvar-initial-x-velocity-pc_25 {
	--fruit-initial-x-velocity-pc: 25;
}
.fruitvar-initial-x-velocity-pc_26 {
	--fruit-initial-x-velocity-pc: 26;
}
.fruitvar-initial-x-velocity-pc_27 {
	--fruit-initial-x-velocity-pc: 27;
}
.fruitvar-initial-x-velocity-pc_28 {
	--fruit-initial-x-velocity-pc: 28;
}
.fruitvar-initial-x-velocity-pc_29 {
	--fruit-initial-x-velocity-pc: 29;
}
.fruitvar-initial-x-velocity-pc_30 {
	--fruit-initial-x-velocity-pc: 30;
}
.fruitvar-initial-x-velocity-pc_31 {
	--fruit-initial-x-velocity-pc: 31;
}
.fruitvar-initial-x-velocity-pc_32 {
	--fruit-initial-x-velocity-pc: 32;
}
.fruitvar-initial-x-velocity-pc_33 {
	--fruit-initial-x-velocity-pc: 33;
}
.fruitvar-initial-x-velocity-pc_34 {
	--fruit-initial-x-velocity-pc: 34;
}
.fruitvar-initial-x-velocity-pc_35 {
	--fruit-initial-x-velocity-pc: 35;
}
.fruitvar-initial-x-velocity-pc_36 {
	--fruit-initial-x-velocity-pc: 36;
}
.fruitvar-initial-x-velocity-pc_37 {
	--fruit-initial-x-velocity-pc: 37;
}
.fruitvar-initial-x-velocity-pc_38 {
	--fruit-initial-x-velocity-pc: 38;
}
.fruitvar-initial-x-velocity-pc_39 {
	--fruit-initial-x-velocity-pc: 39;
}
.fruitvar-initial-x-velocity-pc_40 {
	--fruit-initial-x-velocity-pc: 40;
}
.fruitvar-initial-x-velocity-pc_41 {
	--fruit-initial-x-velocity-pc: 41;
}
.fruitvar-initial-x-velocity-pc_42 {
	--fruit-initial-x-velocity-pc: 42;
}
.fruitvar-initial-x-velocity-pc_43 {
	--fruit-initial-x-velocity-pc: 43;
}
.fruitvar-initial-x-velocity-pc_44 {
	--fruit-initial-x-velocity-pc: 44;
}
.fruitvar-initial-x-velocity-pc_45 {
	--fruit-initial-x-velocity-pc: 45;
}
.fruitvar-initial-x-velocity-pc_46 {
	--fruit-initial-x-velocity-pc: 46;
}
.fruitvar-initial-x-velocity-pc_47 {
	--fruit-initial-x-velocity-pc: 47;
}
.fruitvar-initial-x-velocity-pc_48 {
	--fruit-initial-x-velocity-pc: 48;
}
.fruitvar-initial-x-velocity-pc_49 {
	--fruit-initial-x-velocity-pc: 49;
}
.fruitvar-initial-x-velocity-pc_50 {
	--fruit-initial-x-velocity-pc: 50;
}
.fruitvar-initial-x-velocity-pc_51 {
	--fruit-initial-x-velocity-pc: 51;
}
.fruitvar-initial-x-velocity-pc_52 {
	--fruit-initial-x-velocity-pc: 52;
}
.fruitvar-initial-x-velocity-pc_53 {
	--fruit-initial-x-velocity-pc: 53;
}
.fruitvar-initial-x-velocity-pc_54 {
	--fruit-initial-x-velocity-pc: 54;
}
.fruitvar-initial-x-velocity-pc_55 {
	--fruit-initial-x-velocity-pc: 55;
}
.fruitvar-initial-x-velocity-pc_56 {
	--fruit-initial-x-velocity-pc: 56;
}
.fruitvar-initial-x-velocity-pc_57 {
	--fruit-initial-x-velocity-pc: 57;
}
.fruitvar-initial-x-velocity-pc_58 {
	--fruit-initial-x-velocity-pc: 58;
}
.fruitvar-initial-x-velocity-pc_59 {
	--fruit-initial-x-velocity-pc: 59;
}
.fruitvar-initial-x-velocity-pc_60 {
	--fruit-initial-x-velocity-pc: 60;
}
.fruitvar-initial-x-velocity-pc_61 {
	--fruit-initial-x-velocity-pc: 61;
}
.fruitvar-initial-x-velocity-pc_62 {
	--fruit-initial-x-velocity-pc: 62;
}
.fruitvar-initial-x-velocity-pc_63 {
	--fruit-initial-x-velocity-pc: 63;
}
.fruitvar-initial-x-velocity-pc_64 {
	--fruit-initial-x-velocity-pc: 64;
}
.fruitvar-initial-x-velocity-pc_65 {
	--fruit-initial-x-velocity-pc: 65;
}
.fruitvar-initial-x-velocity-pc_66 {
	--fruit-initial-x-velocity-pc: 66;
}
.fruitvar-initial-x-velocity-pc_67 {
	--fruit-initial-x-velocity-pc: 67;
}
.fruitvar-initial-x-velocity-pc_68 {
	--fruit-initial-x-velocity-pc: 68;
}
.fruitvar-initial-x-velocity-pc_69 {
	--fruit-initial-x-velocity-pc: 69;
}
.fruitvar-initial-x-velocity-pc_70 {
	--fruit-initial-x-velocity-pc: 70;
}
.fruitvar-initial-x-velocity-pc_71 {
	--fruit-initial-x-velocity-pc: 71;
}
.fruitvar-initial-x-velocity-pc_72 {
	--fruit-initial-x-velocity-pc: 72;
}
.fruitvar-initial-x-velocity-pc_73 {
	--fruit-initial-x-velocity-pc: 73;
}
.fruitvar-initial-x-velocity-pc_74 {
	--fruit-initial-x-velocity-pc: 74;
}
.fruitvar-initial-x-velocity-pc_75 {
	--fruit-initial-x-velocity-pc: 75;
}
.fruitvar-initial-x-velocity-pc_76 {
	--fruit-initial-x-velocity-pc: 76;
}
.fruitvar-initial-x-velocity-pc_77 {
	--fruit-initial-x-velocity-pc: 77;
}
.fruitvar-initial-x-velocity-pc_78 {
	--fruit-initial-x-velocity-pc: 78;
}
.fruitvar-initial-x-velocity-pc_79 {
	--fruit-initial-x-velocity-pc: 79;
}
.fruitvar-initial-x-velocity-pc_80 {
	--fruit-initial-x-velocity-pc: 80;
}
.fruitvar-initial-x-velocity-pc_81 {
	--fruit-initial-x-velocity-pc: 81;
}
.fruitvar-initial-x-velocity-pc_82 {
	--fruit-initial-x-velocity-pc: 82;
}
.fruitvar-initial-x-velocity-pc_83 {
	--fruit-initial-x-velocity-pc: 83;
}
.fruitvar-initial-x-velocity-pc_84 {
	--fruit-initial-x-velocity-pc: 84;
}
.fruitvar-initial-x-velocity-pc_85 {
	--fruit-initial-x-velocity-pc: 85;
}
.fruitvar-initial-x-velocity-pc_86 {
	--fruit-initial-x-velocity-pc: 86;
}
.fruitvar-initial-x-velocity-pc_87 {
	--fruit-initial-x-velocity-pc: 87;
}
.fruitvar-initial-x-velocity-pc_88 {
	--fruit-initial-x-velocity-pc: 88;
}
.fruitvar-initial-x-velocity-pc_89 {
	--fruit-initial-x-velocity-pc: 89;
}
.fruitvar-initial-x-velocity-pc_90 {
	--fruit-initial-x-velocity-pc: 90;
}
.fruitvar-initial-x-velocity-pc_91 {
	--fruit-initial-x-velocity-pc: 91;
}
.fruitvar-initial-x-velocity-pc_92 {
	--fruit-initial-x-velocity-pc: 92;
}
.fruitvar-initial-x-velocity-pc_93 {
	--fruit-initial-x-velocity-pc: 93;
}
.fruitvar-initial-x-velocity-pc_94 {
	--fruit-initial-x-velocity-pc: 94;
}
.fruitvar-initial-x-velocity-pc_95 {
	--fruit-initial-x-velocity-pc: 95;
}
.fruitvar-initial-x-velocity-pc_96 {
	--fruit-initial-x-velocity-pc: 96;
}
.fruitvar-initial-x-velocity-pc_97 {
	--fruit-initial-x-velocity-pc: 97;
}
.fruitvar-initial-x-velocity-pc_98 {
	--fruit-initial-x-velocity-pc: 98;
}
.fruitvar-initial-x-velocity-pc_99 {
	--fruit-initial-x-velocity-pc: 99;
}
.fruitvar-initial-x-velocity-pc_100 {
	--fruit-initial-x-velocity-pc: 100;
}
.fruitvar-initial-y-velocity-pc_-66 {
	--fruit-initial-y-velocity-pc: -66;
}
.fruitvar-initial-y-velocity-pc_-67 {
	--fruit-initial-y-velocity-pc: -67;
}
.fruitvar-initial-y-velocity-pc_-68 {
	--fruit-initial-y-velocity-pc: -68;
}
.fruitvar-initial-y-velocity-pc_-69 {
	--fruit-initial-y-velocity-pc: -69;
}
.fruitvar-initial-y-velocity-pc_-70 {
	--fruit-initial-y-velocity-pc: -70;
}
.fruitvar-initial-y-velocity-pc_-71 {
	--fruit-initial-y-velocity-pc: -71;
}
.fruitvar-initial-y-velocity-pc_-72 {
	--fruit-initial-y-velocity-pc: -72;
}
.fruitvar-initial-y-velocity-pc_-73 {
	--fruit-initial-y-velocity-pc: -73;
}
.fruitvar-initial-y-velocity-pc_-74 {
	--fruit-initial-y-velocity-pc: -74;
}
.fruitvar-initial-y-velocity-pc_-75 {
	--fruit-initial-y-velocity-pc: -75;
}
.fruitvar-initial-y-velocity-pc_-76 {
	--fruit-initial-y-velocity-pc: -76;
}
.fruitvar-initial-y-velocity-pc_-77 {
	--fruit-initial-y-velocity-pc: -77;
}
.fruitvar-initial-y-velocity-pc_-78 {
	--fruit-initial-y-velocity-pc: -78;
}
.fruitvar-initial-y-velocity-pc_-79 {
	--fruit-initial-y-velocity-pc: -79;
}
.fruitvar-initial-y-velocity-pc_-80 {
	--fruit-initial-y-velocity-pc: -80;
}
.fruitvar-initial-y-velocity-pc_-81 {
	--fruit-initial-y-velocity-pc: -81;
}
.fruitvar-initial-y-velocity-pc_-82 {
	--fruit-initial-y-velocity-pc: -82;
}
.fruitvar-initial-y-velocity-pc_-83 {
	--fruit-initial-y-velocity-pc: -83;
}
.fruitvar-initial-y-velocity-pc_-84 {
	--fruit-initial-y-velocity-pc: -84;
}
.fruitvar-initial-y-velocity-pc_-85 {
	--fruit-initial-y-velocity-pc: -85;
}
.fruitvar-initial-y-velocity-pc_-86 {
	--fruit-initial-y-velocity-pc: -86;
}
.fruitvar-initial-y-velocity-pc_-87 {
	--fruit-initial-y-velocity-pc: -87;
}
.fruitvar-initial-y-velocity-pc_-88 {
	--fruit-initial-y-velocity-pc: -88;
}
.fruitvar-initial-y-velocity-pc_-89 {
	--fruit-initial-y-velocity-pc: -89;
}
.fruitvar-initial-y-velocity-pc_-90 {
	--fruit-initial-y-velocity-pc: -90;
}
.fruitvar-initial-y-velocity-pc_-91 {
	--fruit-initial-y-velocity-pc: -91;
}
.fruitvar-initial-y-velocity-pc_-92 {
	--fruit-initial-y-velocity-pc: -92;
}
.fruitvar-initial-y-velocity-pc_-93 {
	--fruit-initial-y-velocity-pc: -93;
}
.fruitvar-initial-y-velocity-pc_-94 {
	--fruit-initial-y-velocity-pc: -94;
}
.fruitvar-initial-y-velocity-pc_-95 {
	--fruit-initial-y-velocity-pc: -95;
}
.fruitvar-initial-y-velocity-pc_-96 {
	--fruit-initial-y-velocity-pc: -96;
}
.fruitvar-initial-y-velocity-pc_-97 {
	--fruit-initial-y-velocity-pc: -97;
}
.fruitvar-initial-y-velocity-pc_-98 {
	--fruit-initial-y-velocity-pc: -98;
}
.fruitvar-initial-y-velocity-pc_-99 {
	--fruit-initial-y-velocity-pc: -99;
}
.fruitvar-initial-y-velocity-pc_-100 {
	--fruit-initial-y-velocity-pc: -100;
}
.fruitvar-lifespan-s_5 {
	--fruit-lifespan-s: 5;
}
.fruitvar-rotation-normalization-factor_-1 {
	--fruit-rotation-normalization-factor: -1;
}
.fruitvar-rotation-normalization-factor_0 {
	--fruit-rotation-normalization-factor: 0;
}
.fruitvar-rotation-normalization-factor_1 {
	--fruit-rotation-normalization-factor: 1;
}
